@import 'converters';

@function div($a, $b) {
  @return $a / $b;
}

@function color($color) {
  @if map-has-key($colors, $color) {
    @return var(--color-#{$color});
  } @else {
    @return $color;
  }
}

@function trim-end($haystack, $needle) {
  @if ends-with($haystack, $needle) {
    @return str-slice($haystack, 1, -(str-length($needle) + 1));
  }
  @return $haystack;
}

@function ends-with($haystack, $needle) {
  @return str-slice($haystack, str-length($haystack) - str-length($needle) + 1) == $needle;
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function bubble-sort($list) {
  $length: length($list);
  $temp: null;

  @for $i from 1 through $length {
    @for $j from 1 through $length - $i {
      @if $j == 0 {
        $j: 1;
      }
      $a: nth($list, $j);
      $b: nth($list, $j + 1);

      @if $a > $b {
        $temp: $a;
        $list: set-nth($list, $j, $b);
        $list: set-nth($list, $j + 1, $temp);
      }
    }
  }

  @return $list;
}


@function reverse-map($map, $rm-unit: false) {
  $reverse-map: ();

  @each $key, $value in $map {
    @if $rm-unit {
      $value: rm-unit($value);
    }
    $reverse-map: map-merge($reverse-map, ($value: $key));
  }

  @return $reverse-map;
}

/**
 * Turns a format of ('xxl': 1680px, 'xl': 1366px, 'lg': 1024px, 'md': 768px, 'sm': 420px) into a map of breakpoints: ("": (false, 419px), "sm": (420px, 767px), "md": (768px, 1023px), "lg": (1024px, 1365px), "xl": (1366px, 1679px), "xxl": (1680px, false))
 */
@function breakpoints($map) {
  $reverse-map: reverse-map($map);
  $values-list: map-keys($reverse-map);
  $sorted-values: bubble-sort($values-list);
  $breakpoints: ();
  $min: false;
  $max: false;
  $sorted-values-length: length($sorted-values);

  $breakpoints: map-merge($breakpoints, ('': (false, nth($sorted-values, 1) - 1)));

  @for $i from 1 through $sorted-values-length {
    $sorted-key: nth($sorted-values, $i);
    $key: map-get($reverse-map, $sorted-key);
    $value: map-get($map, $key);
    
    $next-index: $i + 1;
    @if $next-index > $sorted-values-length {
      $next-index: $sorted-values-length;
    }
    $next-value: nth($sorted-values, $next-index);

    @if $i == 1 {
      $min: $value;
    } @else {
      $min: $value;
    }

    @if $i == length($sorted-values) {
      $max: false;
    } @else {
      $max: $next-value - 1
    }

    @if not $min {
      $min: false;
    }

    @if not $max {
      $max: false;
    }

    $breakpoints: map-merge($breakpoints, ($key: ($min, $max)));
  }
  @debug $breakpoints;
  @return $breakpoints;
}

@mixin selection($color: primary) {
  ::selection { background: color($color); }
}

/* stylelint-disable */

//TODO: CHECK 👇

@mixin placeholder($color) {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &:-moz-placeholder,
  &::placeholder {
    color: color($color);
  }
}

@mixin bg-image($filename, $ext: png) {
  background-image: url('#{$image_dir}#{$filename}.#{$ext}');
}

@mixin bg-image-retina($filename, $ext: png) {
  @include bg-image($filename, $ext);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    background-image: url('#{$image_dir}#{$filename}@2x.#{$ext}');
  }
}

@mixin icon($filename, $w, $h, $ext: png) {
  background-image: url('#{$image_dir}#{$filename}.#{$ext}');
  background-size: $w $h;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  width: $w;
  height: $h;
  line-height: $h;
  vertical-align: middle;
  margin-top: -3px;
}

@mixin icon-retina($filename, $w, $h, $ext: png) {
  @include icon($filename, $w, $h, $ext);

  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    background-image: url('#{$image_dir}#{$filename}@2x.#{$ext}');
  }
}
