/*
 * > If a font-size has not been set on any of the <p>'s ancestors,
 *   then 1em will equal the default browser font-size, which is usually 16px.
 *   So, by default 1em is equivalent to 16px.
 *   - https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#ems
 */
$base-font-size: 16px !default;

/*
 * SIZES
 */
$sizes: 0,1,2,3,4,6,8,16,24,32,40,48,56,64,80,96,128,256 !default;
$negative-sizes: -1,-2,-3,-4,-8,-16,-24,-32,-40,-48,-56,-64 !default;
$percent-sizes: 5,10,15,20,25,50,75,100 !default;
$negative-percent-sizes: -5,-10,-15,-20,-25,-50,-75,-100 !default;

$border-sizes: 1, 2, 3, 4, 6, 8 !default;

/*
 * ORIENTATIONS - 'orientation label': (property)
 */
$orientations: (
  't': ('top'),
  'r': ('right'),
  'b': ('bottom'),
  'l': ('left'),
  'x': ('right', 'left'),
  'y': ('top', 'bottom')
) !default;

/*
 * BREAKPOINTS - 'size label': (min, max)
 */
$breakpoints: (
  '':     (false, 420px),
  'sm':   (421px, 767px),
  'md':   (768px, 1023px),
  'lg':   (1024px, 1365px),
  'xl':   (1366px, 1679px),
  'xxl':  (1680px, false)
) !default;

/*
 * CONTAINER + GRID
 */
$container-offset: 56px !default;
$container-offset-mobile: 16px !default;
$container-breakpoint: 'lg' !default;

$grid-gutter: 32px !default;
$grid-gutter-mobile: 16px !default;
$columns: 12 !default;

/*
 * COLORS
 */
$colors: (
  black: #1a1a1d,
  gray-dark: #4a4a4d,
  gray: #a4a4ad,
  gray-light: #f4f4fd,
  white: #fff,
  primary: #f6c026
) !default;

/*
 * TYPOGRAPHY
 */
$heading-font: 'Roboto', sans-serif !default;
$paragraph-font: 'Nunito', serif !default;

//Image directory default - change it to wherever you store images relative to the compiled .css
$image_dir: '../images/' !default;
