* {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

[hidden] {
  display: none !important;
}

.smooth-touch {
  -webkit-overflow-scrolling: touch;
}

.cover {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.absolute-center,
.self-center {
  transform: translate3d(-50%, -50%, 0);
}

.self-center-vertical {
  transform: translateY(-50%);
}

.self-center-horizontal {
  transform: translateX(-50%);
}

.absolute-center {
  left: 50%;
  position: absolute;
  top: 50%;
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.hide-native-scrollbar {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* FF 64 */
}

.hide-native-scrollbar::-webkit-scrollbar { /* WebKit */
  display: none;
}

.spacer {
  display: block;
  height: auto !important;
  pointer-events: none;
  visibility: hidden;
  width: 100% !important;
}
