$colors: (
  foreground: #1a1a1d,
  background: #ffffff,
  black: #1a1a1d,
  white: #ffffff,
  primary: #f6c026
);

$color-modes: (
  dark: (
    colors: (
      foreground: #ffffff,
      background: #1a1a1d,
      black: #1a1a1d,
      white: #ffffff,
      primary: #3F00FF
    )
    // palettes: ( ... )
  )
) 
