@use "../config";
@use "../utils/generators";
@use "../utils/helpers";

//stylelint-disable  property-no-vendor-prefix, color-named, order/order, selector-no-qualifying-type
@use 'sass:map';

button.reset,
.btn {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

.btn {
  background-color: helpers.color(primary);
  border-radius: map.get(config.$button, border-radius);
  color: helpers.color('background');
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-height: map.get(config.$button, height);
  padding: map.get(config.$button, padding-y) map.get(config.$button, padding-x);

  @include generators.breakpoint(config.$container-breakpoint) {
    &:hover {
      background-color: helpers.color('foreground');
    }
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  .btn {
    @include generators.transition((color, background));
  }
}

.btn-inverted {
  background-color: helpers.color('foreground');

  @include generators.breakpoint(config.$container-breakpoint) {
    &:hover {
      background-color: helpers.color(primary);
    }
  }
}

.btn-outline {
  background: transparent;
  border: solid map.get(config.$button, border-width) helpers.color('foreground');
  color: helpers.color('foreground');
  padding: map.get(config.$button, padding-y - map.get(config.$button, border-width)) map.get(config.$button, padding-x - map.get(config.$button, border-width));

  @include generators.breakpoint(config.$container-breakpoint) {
    &:hover {
      background-color: helpers.color('foreground');
      color: helpers.color('background');
    }
  }

  &.btn-inverted {
    border-color: helpers.color('background');
    color: helpers.color('background');

    @include generators.breakpoint(config.$container-breakpoint) {
      &:hover {
        background-color: helpers.color('background');
        color: helpers.color('foreground');
      }
    }
  }
}
