@use "../config";
@use "../utils/generators";
@use "../utils/helpers";

@use 'sass:map';
@use 'sass:list';

config.$colors: generators.generate-color-palettes(config.$colors, config.$palettes);

:root {
  @include generators.css-variable-generator('color', config.$colors);
}

@include generators.utility-class-generator((
  prefix: 'text',
  property: 'color',
  values: config.$colors,
  variable: true
));

.text-transparent {
  color: transparent;
}

.text-color-inherit {
  color: inherit;
}

.text-color-current {
  color: currentColor;
}

@include generators.utility-class-generator((
  prefix: 'bg',
  property: 'background-color',
  values: config.$colors,
  variable: 'color'
));

@include generators.utility-class-generator((
  prefix: 'border',
  property: 'border-color',
  values: config.$colors,
  variable: 'color'
));

@if config.$color-modes and list.length(config.$color-modes) > 0 {
  @each $key, $mode in config.$color-modes {
    $selector: helpers.str-replace(config.$color-modes-selector, 'VALUE', $key);
    $mode-colors: map.get($mode, 'colors');

    @if map.has-key($mode, 'palettes') {
      $mode-palettes: map.get($mode, 'palettes');
      $mode-colors: generators.generate-color-palettes($mode-colors, $mode-palettes);
    }
    
    #{$selector} {
      @include generators.css-variable-generator('color', $mode-colors);
    }
  }
}
