@each $name, $value in $palettes {
  @if type-of($value) == 'color' {
    $colors: color-palette-generator($colors, $name, $value);
  } @else {
    $colors: color-palette-generator($colors, $name, nth($value, 1), nth($value, 2));
  }
}

:root {
  @include css-variable-generator('color', $colors);
}

@include utility-class-generator((
  prefix: 'text',
  property: 'color',
  values: $colors,
  variable: true
));

.text-transparent {
  color: transparent;
}

@include utility-class-generator((
  prefix: 'bg',
  property: 'background-color',
  values: $colors,
  variable: 'color'
));

@include utility-class-generator((
  prefix: 'border',
  property: 'border-color',
  values: $colors,
  variable: 'color'
));
