@use "../config";
@use "../utils/generators";

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: config.$container-max-width;

  padding-left: config.$container-offset-mobile;
  padding-right: config.$container-offset-mobile;

  @include generators.breakpoint(config.$container-breakpoint) {
    padding-left: config.$container-offset;
    padding-right: config.$container-offset;
  }
}
