$dimension_sizes: $sizes;

@for $i from 1 through length($percent-sizes) {
  $value: nth($percent-sizes, $i);
  $dimension_sizes: append($dimension_sizes, (value: $value, unit: '%', suffix: 'p'));
  $dimension_sizes: append($dimension_sizes, (value: $value, unit: 'vw', suffix: 'vw', condition: 'width'));
  $dimension_sizes: append($dimension_sizes, (value: $value, unit: 'vh', suffix: 'vh', condition: 'height'));
}

$dimension_sizes: append($dimension_sizes, 'auto');
$dimension_sizes: append($dimension_sizes, 'inherit');

@include utility-class-generator('w', 'width', $dimension_sizes, 'px');
@include utility-class-generator('h', 'height', $dimension_sizes, 'px');

@debug $sizes;
@debug $dimension_sizes;

@include utility-class-generator('w-max', 'max-width', (100), '%', 'p');
@include utility-class-generator('h-max', 'max-height', (100), '%', 'p');
@include utility-class-generator('w-max', 'max-width', ('none'));
@include utility-class-generator('h-max', 'max-height', ('none'));
