@include utility-class-generator('w', 'width', $percent-sizes, '%', 'p');
@include utility-class-generator('h', 'height', $percent-sizes, '%', 'p');
@include utility-class-generator('w', 'width', $percent-sizes, 'vw', 'vw');
@include utility-class-generator('h', 'height', $percent-sizes, 'vh', 'vh');

$sizes: append($sizes, 'auto');
$sizes: append($sizes, 'inherit');

@include utility-class-generator('w', 'width', $sizes, 'px');
@include utility-class-generator('h', 'height', $sizes, 'px');

@include utility-class-generator('w-max', 'max-width', (100), '%', 'p');
@include utility-class-generator('h-max', 'max-height', (100), '%', 'p');
@include utility-class-generator('w-max', 'max-width', ('none'));
@include utility-class-generator('h-max', 'max-height', ('none'));
