$dimension-sizes: $sizes;

@for $i from 1 through length($percent-sizes) {
  $value: nth($percent-sizes, $i);
  $dimension-sizes: append($dimension-sizes, (value: $value, unit: '%', suffix: 'p'));
  $dimension-sizes: append($dimension-sizes, (value: $value, unit: 'vw', suffix: 'vw', condition: 'width'));
  $dimension-sizes: append($dimension-sizes, (value: $value, unit: 'vh', suffix: 'vh', condition: 'height'));
}

$dimension-sizes: append($dimension-sizes, 'auto');
$dimension-sizes: append($dimension-sizes, 'inherit');

@include utility-class-generator('w', 'width', $dimension-sizes, 'px');
@include utility-class-generator('h', 'height', $dimension-sizes, 'px');

$max-sizes: ('none', (value: 100, unit: '%', suffix: 'p'));

@include utility-class-generator('w-max', 'max-width', $max-sizes);
@include utility-class-generator('h-max', 'max-height', $max-sizes);
