@use "../config";
@use "../utils/generators";

@use 'sass:list';

$margin-sizes: list.append(config.$sizes, 'auto');
@if config.$negative-sizes {
  $margin-sizes: list.join($margin-sizes, config.$negative-sizes);
}

@include generators.utility-class-generator((
  prefix: 'm',
  property: 'margin',
  values: $margin-sizes,
  unit: 'px',
  orientations: config.$orientations
));
