* {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box;
}

@media screen and (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

[hidden] {
  display: none !important;
}

.cover {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.absolute-center,
.self-center {
  transform: translate3d(-50%, -50%, 0);
}

.absolute-center-vertical,
.self-center-vertical {
  transform: translateY(-50%);
}

.absolute-center-horizontal,
.self-center-horizontal {
  transform: translateX(-50%);
}

.absolute-center {
  left: 50%;
  position: absolute;
  top: 50%;
}

.absolute-center-vertical {
  position: absolute;
  top: 50%;
}

.absolute-center-horizontal {
  left: 50%;
  position: absolute;
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.object-fill {
  object-fit: fill;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.hide-native-scrollbar {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* FF 64 */
}

.hide-native-scrollbar::-webkit-scrollbar { /* WebKit */
  display: none;
}

.spacer {
  display: block;
  height: auto !important;
  pointer-events: none;
  visibility: hidden;
  width: 100% !important;
}

.events-none {
  pointer-events: none;
}

.events-all {
  pointer-events: all;
}

.events-auto {
  pointer-events: auto;
}

/** 
 * Screen reader only
 * 
 * @link https://www.a11yproject.com/posts/how-to-hide-content/
 */
.sr-only {
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
}
