@use "../utils/generators";

@include generators.utility-class-generator('overflow', 'overflow', ('hidden', 'visible', 'auto'));
@include generators.utility-class-generator('overflow-x', 'overflow-x', ('hidden', 'visible', 'auto'));
@include generators.utility-class-generator('overflow-y', 'overflow-y', ('hidden', 'visible', 'auto'));
