@use "../config";
@use "../utils/generators";

@include generators.utility-class-generator((
  prefix: 'p',
  property: 'padding',
  values: config.$sizes,
  unit: 'px',
  orientations: config.$orientations
));
