@use "../config";
@use "../utils/generators";

@include generators.utility-class-generator('t', 'top', config.$sizes, 'px');
@include generators.utility-class-generator('r', 'right', config.$sizes, 'px');
@include generators.utility-class-generator('b', 'bottom', config.$sizes, 'px');
@include generators.utility-class-generator('l', 'left', config.$sizes, 'px');

@include generators.utility-class-generator('t', 'top', config.$negative-sizes, 'px');
@include generators.utility-class-generator('r', 'right', config.$negative-sizes, 'px');
@include generators.utility-class-generator('b', 'bottom', config.$negative-sizes, 'px');
@include generators.utility-class-generator('l', 'left', config.$negative-sizes, 'px');

@include generators.utility-class-generator('t', 'top', config.$percent-sizes, '%', 'p');
@include generators.utility-class-generator('r', 'right', config.$percent-sizes, '%', 'p');
@include generators.utility-class-generator('b', 'bottom', config.$percent-sizes, '%', 'p');
@include generators.utility-class-generator('l', 'left', config.$percent-sizes, '%', 'p');

@include generators.utility-class-generator('t', 'top', config.$negative-percent-sizes, '%', 'p');
@include generators.utility-class-generator('r', 'right', config.$negative-percent-sizes, '%', 'p');
@include generators.utility-class-generator('b', 'bottom', config.$negative-percent-sizes, '%', 'p');
@include generators.utility-class-generator('l', 'left', config.$negative-percent-sizes, '%', 'p');

@include generators.utility-class-generator('position', 'position', ('static', 'absolute', 'fixed', 'relative', 'sticky'));
@include generators.utility-class-generator('z', 'z-index', (config.$z-index));
